:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 4835px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.flex-row-fca {
  position: relative;
  width: 1417px;
  height: 48px;
  margin: 16px 0 0 -30px;
  z-index: 57;
}
.gena-hunsaker-counseling {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 616px;
  height: 48px;
  top: 0;
  left: 0;
  color: #403f3f;
  font-family: Montserrat, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 43.884px;
  text-align: center;
  white-space: nowrap;
  z-index: 57;
}
.about-me {
  position: absolute;
  width: 195px;
  height: 42px;
  top: 3px;
  left: 616px;
  font-family: Montserrat, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 29.256px;
  text-align: center;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 53;
}
.about {
  position: relative;
  color: #413f3f;
  font-family: Montserrat, var(--default-font-family);
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: center;
}
.me {
  position: relative;
  color: #413f3f;
  font-family: Montserrat, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 29.256px;
  text-align: center;
}
.faq {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 195px;
  height: 42px;
  top: 3px;
  left: 801px;
  color: #413f3f;
  font-family: Montserrat, var(--default-font-family);
  font-size: 28px;
  font-weight: 700;
  line-height: 34.132px;
  text-align: center;
  white-space: nowrap;
  z-index: 55;
}
.location {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 195px;
  height: 42px;
  top: 3px;
  left: 996px;
  color: #413f3f;
  font-family: Montserrat, var(--default-font-family);
  font-size: 28px;
  font-weight: 700;
  line-height: 34.132px;
  text-align: center;
  white-space: nowrap;
  z-index: 56;
}
.contact-me {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 195px;
  height: 42px;
  top: 3px;
  left: 1222px;
  color: #413f3f;
  font-family: Montserrat, var(--default-font-family);
  font-size: 28px;
  font-weight: 700;
  line-height: 34.132px;
  text-align: center;
  white-space: nowrap;
  z-index: 54;
}
.frame {
  position: relative;
  width: 1511px;
  height: 898px;
  margin: 12px 0 0 -41px;
  background: #ffffff;
  z-index: 42;
  overflow: hidden;
}
.banner-right-card {
  position: absolute;
  width: 717px;
  height: 896px;
  top: 50%;
  left: 779px;
  transform: translate(0, -49.89%);
  z-index: 43;
}
.banner-right-frame {
  position: relative;
  width: 635.136px;
  height: 549.717px;
  margin: 164.934px 0 0 38.889px;
  font-size: 0px;
  z-index: 45;
  overflow: visible auto;
}
.text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 548.103px;
  height: 114.499px;
  margin: 286.248px 0 0 29.011px;
  color: #c5bcbc;
  font-family: Poppins, var(--default-font-family);
  font-size: 36px;
  font-weight: 300;
  line-height: 42px;
  text-align: center;
  z-index: 48;
}
.contact-me-button {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 251px;
  margin: 74.97px 0 0 173.031px;
  padding: 25px 72px 25px 72px;
  background: #f4f4f4;
  z-index: 46;
}
.text-1 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 47;
}
.title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 635.136px;
  height: 186.743px;
  bottom: 362.974px;
  left: calc(50% - 317.57px);
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 65px;
  text-align: center;
  z-index: 50;
}
.quote-author {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 106.719px;
  height: 6.69%;
  top: 31.74%;
  left: 39.31%;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  z-index: 49;
}
.right-frame-black-rectangle {
  position: absolute;
  width: 717px;
  height: 896px;
  top: 0;
  left: 0;
  background: url(./assets/images/blackgreySquare.png)
    no-repeat center;
  background-size: cover;
  z-index: 44;
}
.photogallery-frame {
  position: absolute;
  width: 740px;
  height: 896px;
  top: 2px;
  left: 41px;
  background: url(./assets/images/walkinghome.png)
    no-repeat center;
  background-size: cover;
  z-index: 51;
  overflow: hidden;
}
.about-me-title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 1440px;
  height: 77px;
  margin: 16px 0 0 0;
  color: #9b8f6f;
  font-family: Poppins, var(--default-font-family);
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
  text-align: center;
  white-space: nowrap;
  z-index: 40;
}
.flex-row-cbc {
  position: relative;
  width: 1398px;
  height: 760px;
  margin: 32px 0 0 21px;
  z-index: 39;
}
.gena-hunsaker-pic {
  position: absolute;
  width: 589px;
  height: 760px;
  top: 0;
  left: 0;
  background: url(./assets/images/genahPic.png)
    no-repeat center;
  background-size: cover;
  z-index: 36;
}
.about-me-title-2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 832px;
  height: 116px;
  top: 39px;
  right: 0;
  color: #3a3a3a;
  font-family: Poppins, var(--default-font-family);
  font-size: 48px;
  font-weight: 500;
  line-height: 57.6px;
  text-align: center;
  z-index: 39;
}
.about-me-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 735px;
  height: 461px;
  top: 217px;
  left: 643px;
  color: #3a3a3a;
  font-family: Poppins, var(--default-font-family);
  font-size: 36px;
  font-weight: 300;
  line-height: 43.2px;
  text-align: left;
  z-index: 38;
}
.bg {
  position: relative;
  width: 1444px;
  height: 1603px;
  margin: 18px 0 0 -4px;
  font-size: 0px;
  background: #ececec;
  z-index: 15;
  overflow: visible auto;
}
.faq-title {
  display: block;
  position: relative;
  height: 77px;
  margin: 18px 0 0 233px;
  color: #9b8f6f;
  font-family: Poppins, var(--default-font-family);
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 34;
}
.faq-desc {
  display: block;
  position: relative;
  height: 29px;
  margin: 22px 0 0 108px;
  color: #3a3a3a;
  font-family: Poppins, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
.question {
  display: block;
  position: relative;
  height: 43px;
  margin: 33px 0 0 132.5px;
  color: #3a3a3a;
  font-family: Poppins, var(--default-font-family);
  font-size: 36px;
  font-weight: 600;
  line-height: 43px;
  text-align: left;
  white-space: nowrap;
  z-index: 30;
}
.question-3 {
  display: block;
  position: relative;
  height: 43px;
  margin: 167px 0 0 133px;
  color: #3a3a3a;
  font-family: Poppins, var(--default-font-family);
  font-size: 36px;
  font-weight: 600;
  line-height: 43px;
  text-align: left;
  white-space: nowrap;
  z-index: 26;
}
.answer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 1247px;
  height: 65px;
  margin: 16px 0 0 139px;
  color: #3a3a3a;
  font-family: Poppins, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  z-index: 25;
}
.line {
  position: relative;
  width: 1169px;
  height: 1px;
  margin: 16px 0 0 114px;
  background: url(./assets/images/8f6b7733-61ea-4796-9522-23f7c02ecd77.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 27;
}
.question-4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 1193px;
  height: 86px;
  margin: 22px 0 0 133px;
  color: #3a3a3a;
  font-family: Poppins, var(--default-font-family);
  font-size: 36px;
  font-weight: 600;
  line-height: 43.2px;
  text-align: left;
  z-index: 22;
}
.answer-5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 1193px;
  height: 464px;
  margin: 12px 0 0 139px;
  color: #3a3a3a;
  font-family: Poppins, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  text-overflow: initial;
  z-index: 21;
  overflow: hidden;
}
.line-6 {
  position: relative;
  width: 1169px;
  height: 1px;
  margin: 10.5px 0 0 114px;
  background: url(./assets/images/f2c10c3b-c435-454a-823c-4eaf59e409b9.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 23;
}
.question-7 {
  display: block;
  position: relative;
  height: 43px;
  margin: 22.5px 0 0 133px;
  color: #3a3a3a;
  font-family: Poppins, var(--default-font-family);
  font-size: 36px;
  font-weight: 600;
  line-height: 43px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}
.answer-8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 1193px;
  height: 348px;
  margin: 14px 0 0 139px;
  color: #3a3a3a;
  font-family: Poppins, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  text-overflow: initial;
  z-index: 17;
  overflow: hidden;
}
.line-9 {
  position: relative;
  width: 1169px;
  height: 1px;
  margin: 49.5px 0 0 108px;
  background: url(./assets/images/174c2d7e-a3d4-48ab-a3be-2e7624aae2a7.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 19;
}
.answer-a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 1193px;
  height: 145px;
  top: 244px;
  left: 139px;
  color: #3a3a3a;
  font-family: Poppins, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  z-index: 29;
}
.line-b {
  position: absolute;
  width: 80.96%;
  height: 0.06%;
  top: 18.47%;
  left: 8.59%;
  background: url(./assets/images/b60fbbe8-d679-45f1-99a7-90b5d062a040.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 31;
}
.title-c {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 528.208px;
  height: 78.677px;
  margin: 107px 0 0 428px;
  color: #3a3a3a;
  font-family: Poppins, var(--default-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 13;
}
.gena-hunsaker-counseling-d {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 1426.384px;
  height: 62.286px;
  margin: 27.323px 0 0 -12px;
  color: #5e5c5c;
  font-family: Poppins, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  text-align: center;
  white-space: nowrap;
  z-index: 12;
}
.address {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 1426.384px;
  height: 62.286px;
  margin: 26.714px 0 0 -14px;
  color: #4b4b4b;
  font-family: Poppins, var(--default-font-family);
  font-size: 32px;
  font-weight: 500;
  line-height: 38.4px;
  text-align: center;
  z-index: 11;
}
.flex-row-db {
  position: relative;
  width: 1433.384px;
  height: 114.286px;
  margin: 37.714px 0 0 -21px;
  z-index: 10;
}
.phone {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 1426.384px;
  height: 62.286px;
  top: 0;
  left: 0;
  color: #5e5c5c;
  font-family: Poppins, var(--default-font-family);
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
  text-align: center;
  z-index: 10;
}
.email {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 1426.384px;
  height: 62.286px;
  top: 52px;
  left: 7px;
  color: #5e5c5c;
  font-family: Poppins, var(--default-font-family);
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
  text-align: center;
  z-index: 9;
}
.google-map-pic {
  position: relative;
  width: 1451px;
  height: 680px;
  margin: 89.714px 0 0 2px;
  background: url(./assets/images/googlephotomap.png)
    no-repeat center;
  background-size: cover;
  z-index: 7;
}
.rectangle {
  position: relative;
  width: 1451px;
  height: 69px;
  margin: 0 0 0 -1px;
  font-size: 0px;
  background: #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  z-index: 2;
  overflow: visible auto;
}
.copyright {
  display: block;
  position: relative;
  height: 3.279px;
  margin: 17px 0 0 455.453px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 3.279px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.line-e {
  position: relative;
  width: 1249.487px;
  height: 1px;
  margin: 30.721px 0 0 123.94px;
  background: url(./assets/images/bcce742d-70d9-4cb4-802c-89db0d485c91.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 5;
}
